{% extends 'layout.html' %}
{% block style %}
    .form-button {
        height: 40px;
        width: 200px;
        background-color: #01FF70;
        color: white;
        font-weight: bold;
        border: 0px solid transparent;
        border-radius: 5px;
        margin-top: 10px;
    }

    input[type=text], input[type=number] {
        border: 2px solid black;
        border-radius: 5px;
        width: 400px;
        padding: 3px;
        margin-top: 10px
    }

    input[type=checkbox] {
        margin-top: 10px;
    }

    select {
        border: 2px solid #DDDDDD;
        border-radius: 3px;
        width: 410px;
        margin-top: 10px;
    }

    select:hover {
        border-color: black;
    }

    fieldset {
        max-width: 400px;
        margin: auto;
        margin-top: 100px;
    }
{% endblock %}
{% block content %}
    <form action="/predict/" method="post">
        <fieldset>
            <legend>COVID-19 Recovery Probability Calculator</legend>
            <input type="number" name="age" placeholder="Age" style="margin-top: 0;" required>
            <select name="gender" required>
                <option disabled selected hidden>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <input type="number" name="symptom_onset_hospitalization" placeholder="Days between symptom onset and hospitalization" required>
            <select name="high_risk_travel" required>
                <option disabled selected hidden>High risk travel</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <!--<input type="text" name="medical_conditions" placeholder="Medical conditions" required>-->
            <input type="checkbox" name="medical_conditions" value="cardiovascular disease" id="cardiovascular-diesease-checkbox">
            <label for="cardiovascular-diesease-checkbox">Cardiovascular Disease</label><br>
            <input type="checkbox" name="medical_conditions" value="diabetes" id="diabetes-checkbox">
            <label for="diabetes-checkbox">Diabetes</label><br>
            <input type="checkbox" name="medical_conditions" value="chronic respiratory disease" id="chronic-respiratory-disease-checkbox">
            <label for="chronic-respiratory-disease-checkbox">Chronic Respiratory Disease</label><br>
            <input type="checkbox" name="medical_conditions" value="hypertension" id="hypertension-checkbox">
            <label for="hypertension-checkbox">Hypertension</label><br>
            <input type="checkbox" name="medical_conditions" value="cancer" id="cancer-checkbox">
            <label for="cancer-checkbox">Cancer</label><br>
            <input id="ip-input" type="hidden" name="ip" value="">
            <input class="form-button" type="submit" value="Submit">
            <input class="form-button" type="reset" value="Reset">
        </fieldset>
    </form>
    <script>
        function getPublicIP() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open('GET', 'https://ipecho.net/plain', false);
            xmlHttp.send();
            return xmlHttp.responseText;
        }

        document.querySelector('#ip-input').setAttribute('value', getPublicIP())
    </script>
{% endblock %}