{% extends "layout.html" %}
{% block style %}
    .heading {
        text-align: center;
        color: white;
        margin-top: 75px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    #prediction {
        {% if probability < 25 %}
            color: #ff4136;
        {% elif probability < 50 %}
            color: #ff851b;
        {% elif probability < 75 %}
            color: #ffdc00;
        {% else %}
            color: #2ecc40;
        {% endif %}
        font-size: 100px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    @import url('https://fonts.googleapis.com/css?family=Raleway:200');

    #box {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      width: 400px;
      height: 200px;
      color: white;
      font-family: 'Raleway';
      font-size: 2.5rem;
    }
    .gradient-border {
      --borderWidth: 3px;
      //background: #1D1F20;
      background: white;
      position: relative;
      border-radius: var(--borderWidth);
    }
    .gradient-border:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      -webkit-animation: animatedgradient 3s ease alternate infinite;
              animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }


    @-webkit-keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }


    @keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
{% endblock %}
{% block content %}
    <h1 class="heading">The probability that you will survive COVID-19 is:</h1>
    <br><br>
    <center><div class="gradient-border" id="box">
        <h1 id="prediction">{{ probability }}%</h1>
    </div></center>
{% endblock %}