{% extends "layout.html" %}
{% block style %}
    .heading {
        text-align: center;# Need a POST request for this API endpoint
# Must be: /predict/
# Needs the following POST form data:
#   ip: string representing user's public IP address
#   age: integer representing user age
#   gender: string of either 'male' or 'female'
#   symptom_onset_hospitalization: integer representing the number of days between symptom onset and hospitalization
#   high_risk_travel: string of either 'yes' or 'no'
#   medical_conditions: list of chosen medical conditions (see Google Doc for possible choices)
    }

    #prediction {
        {% if probability < 25 %}
            color: red;
        {% elif probability < 50 %}
            color: orange;
        {% elif probability < 75 %}
            color: yellow;
        {% else %}
            color: green;
        {% endif %}
        font-size: 100px;
    }
{% endblock %}
{% block content %}
    <h1 class="heading" style="margin-top: 100px;">The probability that you will survive COVID-19 is:</h1>
    <h1 class="heading" id="prediction">{{ probability }}%</h1>
{% endblock %}